<div class="content-box">
    <div id="indexShow"></div>
    
    <% if @recipes.empty? %>
        <h3>There are currently no recipes available for this type of liquor, please create one!</h3>
    
        <%= button_to "Create a Recipe", new_user_recipe_path(current_user.id), method: :get %>
    <% end %>
    
    <br>
    
   <button onclick="goBack()">Back</button>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
        const urlArray = window.location.href.split("/")
        const idParams = parseInt(urlArray[4])
    
        if(urlArray[3] === "liquors") {
            $.getJSON("/liquors/" + `${idParams}` + "/recipes", function(recipes) {
                recipes.forEach(function(recipe) {
                    let li = document.createElement("li")
                    li.innerHTML = `<a href="/liquors/${recipe.liquor.id}/recipes/${recipe.id}">${recipe.name}</a>`
                    $("#indexShow").append(li)
                })
            })
        } else {
            $.getJSON("/users/" + `${idParams}` + "/recipes", function(recipes) {
                recipes.forEach(function(recipe) {
                    let li = document.createElement("li")
                    li.innerHTML = `<a href="/liquors/${recipe.liquor.id}/recipes/${recipe.id}">${recipe.name}</a>`
                    $("#indexShow").append(li)
                })
            })
        } 
    })
</script>
