<div class="content-box">
    <h3 id="new_recipe_title">You Are Now Creating a New Recipe</h3>
    <br>
    <%= render 'form' %>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
       $('form').submit(function(e) {
           e.preventDefault();
           const values = $(this).serialize()
           const posting = $.post("/recipes", values)
           
           posting.done(function(data) {
               const recipeObj = new Recipe(data.name, data.description, data.ingredients)
               
               $("#recipeName").text(recipeObj.name)
               $("#recipeDescription").text(recipeObj.description)
               $(".ingredients").html(recipeObj.renderIngredients())
               
               $("#recipeResult").append(`<br><%= button_to "Back to Profile", "/users/#{current_user.id}", method: :get %>`)
               
               $("#new_recipe").remove()
               $("#new_recipe_title").remove()
               $("#small_note").remove()
           })
       }) 
    })
</script>

