<div class="content-box">
    <h3 id="new_recipe_title">You Are Now Creating a New Recipe</h3>
    <br>
    <%= render 'form' %>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
       $('form').submit(function(e) {
           e.preventDefault();
           const values = $(this).serialize()
           const posting = $.post("/recipes", values)
           
           posting.done(function(data) {
               console.log(data)
               let recipe = data
               $("#recipeName").text(recipe["name"])
               $("#recipeDescription").text(recipe["description"])
               $("#new_recipe").remove()
               $("#new_recipe_title").remove()
               $("#small_note").remove()
           })
       }) 
    })
</script>

