<h1 class="heading">Welcome to DrinkMaster!</h1>

<div class="content-middle">
    <h3>We host a free platform to introduce new drink recipes, look up existing ones, mix up your own "DrinkMix" of favorites, and collaborate with other inventors on new creations!</h3>

    <br>

    <p>Please either <%= link_to "Log In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %></p>
</div>