<div class="content-box">
    <h3><%= @dm.name %></h3>
    <p>Search For a Recipe to Add To Your DrinkMix:</p>
    <ol>
    <li>
        <form class="form-inline my-2 my-lg-0" method="get" action="/recipes">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </li>
    </ol>
    
    <% if @dm.recipes.empty? %>
        <p>You currently do not have any recipes saved. Please search or browse for some to add. Cheers!</p>
    <% else %>
        <h4>Your Saved Recipes:</h4>
        <ol>
         <% @dm.recipes.each do |recipe| %>
            <li class="bulleted"><%= link_to recipe.name, recipe_path(recipe) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= button_to "Remove", drink_mix_path(recipe), method: :delete, form: {style: 'display:inline-block;'} %></li>
        <% end %>
        </ol>
    <% end %>
    
    
    
    
</div>