@import "bootstrap";

body,html {
    height: 100%;
}

body {
    position: relative;
}

body::after {
  content: "";
  background: url('martini_glass_black_and_white.jpeg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-size: cover;
}

div.container {
    padding: 5em;
    text-align: center;
}

div.content-box {
    padding: 5em;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 36em;
    text-align: center;
}

div.space {
    margin-top: 5px;
}

label, p, a, h3, h2, h1 {
    color: black;
}

a:hover {
    color: red;
}

a.red:hover {
    color: black;
}

li {
    list-style-type: none;
}




