@import "bootstrap";

body,html {
    height: 100%;
}

.bg {
    background-image: url('martini_glass_black_and_white.jpeg');   
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

div.container {
    padding: 5em;
    text-align: center;
}

div.content-box {
    padding: 5em;
    margin: 0 5em;
    text-align: center;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
}

label, p, a, h3, h2, h1 {
    color: red;
}

a:hover {
    color: white;
}


